<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>public.folder</string>
				<string>net.daringfireball.markdown</string>
				<string>public.plain-text</string>
				<string>public.archive</string>
				<string>public.zip-archive</string>
				<string>com.winzip.zipx-archive</string>
				<string>public.tar-archive</string>
				<string>org.gnu.gnu-zip-tar-archive</string>
				<string>public.tar-bzip2-archive</string>
				<string>org.tukaani.tar-xz-archive</string>
				<string>com.facebook.zstandard-tar-archive</string>
				<string>org.7-zip.7-zip-archive</string>
				<string>com.rarlab.rar-archive</string>
				<string>public.iso-image</string>
				<string>public.cpio-archive</string>
				<string>com.apple.xar-archive</string>
				<string>com.microsoft.cab</string>
				<string>public.archive.lha</string>
				<string>com.sun.java-archive</string>
				<string>com.sun.web-application-archive</string>
				<string>org.gnu.gnu-zip-archive</string>
				<string>public.bzip2-archive</string>
				<string>org.tukaani.xz-archive</string>
				<string>org.tukaani.lzma-archive</string>
				<string>com.facebook.zstandard-archive</string>
				<string>public.lz4-archive</string>
				<string>public.z-archive</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>PreviewViewController</string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RAR archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.rarlab.rar-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rar</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.rar</string>
					<string>application/x-rar-compressed</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
